body { 
    background-color: black;
}

button { 
    border: none;
    background-color: white;
}

div { 
    border-radius: 10%;
}

#nav_bar { 
    border-radius: 0;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
}

.main { 
    height: 500px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.item { 
    background-color: darkslategray;
    text-align: center;
    width: 75%;
    margin-top: 2%;
}

.clicked { 
    background-color: black;
    color: white;
    border: none;
}